.conatiner {
    padding-bottom: 50px;
    padding-top: 20px;
    width: 100%;

    height: inherit;

    align-content: center;
    justify-content: center;
  
    background-color: #000;
 
    
}

.headerText {
    font-size: 2.5vw;
}

.btn-small1 {
    margin-left: 10px;
    background-color: transparent;
    border-width: 2;
    border-color: #f0f0f0;
    color: #f0f0f0;
    padding: 8px 20px;
    font-size: 1.5vw;
    border-radius: 20px;
    line-height: 1.2;
    transition: background 0.3s ease;
    margin-right: 20px;

}

/* Hover effect */
.btn-small1:hover {
    background-color: #F7C59C;
    cursor: pointer;
}

.dealingText1 {
    font-family: "Playfair Display", serif;
    color: rgb(255, 255, 255);
    font-size: 7vw;
}

.dealingText2 {
    font-family: "Playfair Display", serif;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    border-bottom-width: 1px;
    border-bottom-style: solid; 
    border-color: #f0f0f0;
    width: 24%;
    padding: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.StylableButton2545352419__icon{
    transition: inherit;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    display: initial;
    margin-left: 10px;
    
}

.imageConatiners1{
    height: 520px;
    width: 25vw;
}
.imageConatiners1 {
    height: 520px;
    width: 25vw;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.image-container .center-image {
    transform: translateY(-50px); 
}

.imageConatiners1:hover {
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column; 
        align-items: center;
    }

    .imageConatiners1 {
        width: 90%; 
        height: auto; 
        margin-top: 30px;
    }

    .image-container .center-image {
        transform: translateY(0);
    }
}
